* {
    border: 1px solid blak;
}

body {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

ul {
  list-style-type: none;
  font-size: 18ppx;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.maintext {
    display: flex;
    margin-bottom: 0px;
    text-align: left;
    font-size: 48px; 
    font-weight: extra-bold;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.bottom {
    display: flex;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lightheader {
    margin-bottom: 30px;
}

.lighttypes {
    display: flex;
}

.light {
    max-width: 200px;
}

